# System #
*~
~*
*.bak

# IDEs #
.idea
*.sublime-*

# Bower #
bower_components

# Node.js #
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules

# Custom #
README.htm*

/config
/content
/content_test
/docs/api
