
/*****start****/
.header{
	height:50px;
	background: #2C2C2C;
    padding: 10px;
    color: rgba(255, 255, 255, 0.85);
}
.header a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}
body>div{
	padding:10px;
}
#content{
	padding-left:10px;
}
#pager{
	margin-top:10px;
}